<script src ="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

{% extends "base.html" %}

{% block title %}
    About Me
{% endblock %}

{% block content %}

    <h1>About Me</h1>
    <p>
        Certified Kubernetes Administrator and AWS Certified Cloud Solution Architect (Assoc), Cloud Platform / DevOps Engineer, and a Kubernetes Enthusiast.

        Possess hands-on experience in Building and managing Kubernetes Clusters in Cloud as well as in the on-premises environment.

        Experienced in Architecting applications in Cloud and Kubernetes. Handled application migration projects from on-premises to cloud and containerized environments.
        Experienced in setting up and Maintaining Logging with Elasticsearch-Kibana and Monitoring using Grafana.
    </p>
    <p>LinkedIn: www.linkedin.com/in/samarthkanungo</p>
    <p>Email: sam0392in@gmail.com</p>
    <p><em>Have a nice day.</em></p>
{% endblock %}

